{% extends "universityconnection/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'universityconnection/apuntes.css' %}"> 
{% endblock %}
{% block heading %}
{% endblock %}

{% block body %}

  <div class="form-popup" id="archivosForm">
    <form class="form-container" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ formfile | crispy }}
      <div class="container">
        <input type="reset" value="Clean" class="btn cancel" onclick="closeArchiveForm()">
        <input type="submit" value="Save" class="btn btn-info">
      </div>
    </form>
  </div>

    <h1>
      Mis Archivos
    </h1>
    {% for course in courses %}
    <h1> {{ course.name }} </h1>
      {% for file in files %}
      {% if course.id == file.course.id %}
    <div class="card" style="width: 14rem; margin:25px;display: inline-flex;">
      <img class="card-img-top" src="{% static 'universityconnection/file_img.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ file.title }}</h5>
        <h5 class="card-title">$ {{ file.price }}</h5>
        <p class="card-text">{{ file.course }}</p>
        <a href="{% url 'file' file.id %}" class="btn btn-primary">Ver Ahora</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
    {% endfor %}
    <button class="open-button1" onclick="openArchiveForm()">Agregar Archivo</button>
  
  <div style="display:None">
  {% for course in courses %}
  <option value="{{ course.id }}"class="mycoursesform">{{ course.name }}</option>
  {% endfor %}
</div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'universityconnection/jquery-3.5.0.js' %}"></script>
    
    <script src="{% static 'universityconnection/showfiles.js' %}"></script>
    {% endblock %}