{% extends "universityconnection/base.html" %}
{% load static %}


{% block heading %}
<div class="jumbotron text-center" style="background-image: url('{% static 'universityconnection/ma_background.jpg' %}'); opacity: 80%">
    <h1><a href="{% url 'index' %}" style="font-size:35rm; text-shadow: 5px 0 0 darkslategray ; text-decoration: none; color:white; opacity:100%">Mejores Apuntes</a></h1></div>

{% endblock %}

{% block body %}
<!--<img style="width:20%;" src="{% static 'universityconnection/books.jpg' %}" alt="Card image cap">-->
<br>
<div class="container">
        <h3> Poderosos Recursos							
        </h3>
        <p>
        <img src="https://i.pinimg.com/originals/25/28/07/252807af1c15b54aa89bfec40ae5d123.jpg" width=65% class="float right" style="text-align: center;">
    </p>
        <p>
            </p><p>Imagina que tienes en tus manos <strong>un recurso que cubra todas tus necesidades académicas</strong>. Los puntos de aprendizaje clave. Los detalles que debes memorizar. Las frases completas que te hagan comprender toda la materia de estudio. Pues tienes <strong>todo eso y más en los Apuntes de GoConqr</strong>.</p>
<p>Este recurso puede servirte para complementar las anotaciones que tengas en clase y añadir todos los datos que te falten con el objetivo de <strong>alcanzar el mejor rendimiento académico posible</strong>. Contrastando tus apuntes con los que han colgado otros usuarios de GoConqr, tu proceso de estudio será más enriquecedor, dinámico y entretenido.</p>
        <p></p>
        
            <a href="{% url 'addnote' %}" class="feature-type-button">Crea tus Apuntes Ahora</a>
            
                            </div>
</div>

<!--Footer-->
<div class="footer" style="margin-bottom:0px; background-color:gray">
    <h3 style="color:white; text-align: center"> sugerencias y recomendaciones </h3>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'universityconnection/index.js' %}"></script>

{% endblock %}
