{% extends "universityconnection/base.html" %}
{% load static %}

{% block body %}
<h1>Has vendido como mierda!! </h1>
<table>
    <caption>
        misventas!! 
    </caption>
    <tr>
        <td>
            Nota_id
        </td>
        <td>
            Precio_Uni
        </td>
        <td>
            Cantidad_vendida
        </td>
        <td>
            Ingreso Total
        </td>
    </tr>
    <tr>
        <td>
            Nota_id
        </td>
        <td>
            Precio_Uni
        </td>
        <td>
            Cantidad_vendida
        </td>
        <td>
            Ingreso Total
        </td>
    </tr>
</table>
{% endblock %}